{% extends 'base.html' %}
{% load static %}
 
{% block title %}JoyeHotels - Home{% endblock title %}


{%block body %}

<!-- video carousel -->

<section class="home" id="home">
    <div class="content">
        <h3>welcome to A global icon of luxury</h3>
        <p>dicover new places with us, luxury awaits</p>
        <a href="#packages" class="btn">discover more</a>
    </div>

    <div class="controls">
        <span class="vid-btn active" data-src="{% static 'img/video/vid-1.mp4' %}"></span>
        <span class="vid-btn" data-src="{% static 'img/video/vid-2.mp4' %}"></span>
        <span class="vid-btn" data-src="{% static 'img/video/vid-3.mp4' %}"></span>
        <!-- <span class="vid-btn" data-src="img/video/vid-4.mp4"></span>
        <span class="vid-btn" data-src="img/video/vid-5.mp4"></span> -->
    </div>

    <div class="video-container">
        <video src="{% static 'img/video/vid-1.mp4' %}" id="video-slider" loop autoplay muted></video>
    </div>

</section>


{% endblock body %}


