{% load static %}

{% include 'navigation.html' %}


<!-- <section class="book" style="margin-top: 70px;" id="book">

  <div class="row">
    <form
      method="POST"
    >
      <div class="inputBox">
        <input type="hidden" name="_subject" value="New submission!" />
        <input type="hidden" name="_captcha" value="false" />
        <input type="text" name="_honey" style="display: none" />
        <input type="hidden" name="_template" value="table" /> -->

        <!-- <h3>where to</h3>
        <input type="text" name="Place" id="place" placeholder="place name" /> -->
      <!-- </div>
      <div class="inputBox">
        <h3>how many</h3>
        <input
          type="number"
          name="Number of guests"
          id="numberOfGuests"
          placeholder="number of guests"
        />
      </div>
      <div class="inputBox">
        <h3>arrivals</h3>
        <input type="date" name="Check in date" id="checkInDate" />
      </div>
      <div class="inputBox">
        <h3>leaving</h3>
        <input type="date" name="Check out date" id="checkOutDate" />
      </div>
      <input type="submit" onClick="sendWA()" class="btn" value="book now" />
    </form>

    <div class="img">
      <img decoding="async" src=" {% static 'img/book-img.svg' %} " alt="" />
    </div>
  </div>
</section> -->

<!-- filterSection section-->

{% comment %} {% block filterSection %}{% endblock filterSection %} {% endcomment %}
{% include 'filterSection.html' %}

<!-- hotels section -->
<section class="packages" id="packages">
  <h1 class="heading">
    <span>h</span>
    <span>o</span>
    <span>t</span>
    <span>e</span>
    <span>l</span>
    <span>s</span>
  </h1>

  <div class="box-container">
    <div class="box">
      <img decoding="async" src="{% static 'img/p-1.jpg' %}" alt="" />
      <div class="content">
        <h3>Mohen peda</h3>
        <h4><i class="fas fa-map-marker-alt"></i> Andhra Pradesh</h4>
        <p>
          This majestic 5-star resort sits at a stunning elevation of 2000 feet
          above the city, in a restored 1894 palace. The suites have Colonial
          themed interiors and marble floors with furnished balconies.
        </p>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <div class="price">₹ 4399.00 <span>₹ 5000.00</span></div>
        <a href="#book" class="btn">book now</a>
      </div>
    </div>

    <div class="box">
      <img decoding="async" src="{% static 'img/p-2.jpg' %}" alt="" />
      <div class="content">
        <h3>
          <i class="fas fa-map-marker-alt"></i> The Oberoi Amarvilas, Agra
        </h3>
        <p>
          Built with splendid Mughal architecture, the Oberoi Amarvilas is the
          best heritage hotel of Agra by some distance. Dotted with fountains
          and lawns all around, it offers an unforgettable stay in a palam
        </p>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <div class="price">₹ 3799.00 <span>₹ 4000.00</span></div>
        <a href="#book" class="btn">book now</a>
      </div>
    </div>

    <div class="box">
      <img decoding="async" src="{% static 'img/p-3.jpg' %}" alt="" />
      <div class="content">
        <h3>
          <i class="fas fa-map-marker-alt"></i> The Oberoi Udaivilas, Udaypur
        </h3>
        <p>
          Sprawled across 50 acres of ravishing landscape, this 5-star resort
          offers panoramic views of Lake Pichola. Their suites feature grand
          Rajasthani architecture and stylish interiors with iPod docks.
        </p>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <div class="price">₹ 6799.00 <span>₹ 7000.00</span></div>
        <a href="#book" class="btn">book now</a>
      </div>
    </div>
  </div>
</section>

<!-- footer section-->
{% include 'footer.html' %}
