{% extends 'navigation.html' %}

{% load static %}

    <!-- login form -->
    {% block login %}

    <section class="book" style="margin-top: 50px" id="book">
        
        
        {% include 'messages.html' %}
        <div class="row">

            <div class="img">
                <img decoding="async" src=" {% static 'img/login.svg' %} " alt="" />
            </div>


            <div class=" login-form-container form">

            <form  action="" method="POST">
                {% csrf_token %}
                <div class="inputBox">

                    <h3>Enter username</h3>
                    <input type="text" name="username" id="username" placeholder="username" />
                </div>
                <div class="inputBox">
                    <h3>Enter password</h3>
                    <input type="password" name="password" id="password" placeholder="password" />
                </div>

                <input type="submit"  class="btn" value="login" />
                
                <input type="checkbox" id="remember">
                <label for="remember">Remember me</label>
                <p>forget password? <a href="#">click here</a></p>
                <p>don't have and account? <a href="{% url 'register' %}" id="signin_toggle">register now</a></p>
                
            </form>
        </div>

            
        </div>
    </section>

    {% endblock login %}