{% extends 'base.html' %}

<!-- Add this at the end of the body tag -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> <!-- Include Swiper JS -->
<script src="path/to/your/script.js"></script> <!-- Include your custom script -->


{% load static %}
<div class="login-form-container">
    <i class="fas fa-times" id="form-close"></i>
    <form method="POST">
        {% csrf_token %}
        {% include 'messages.html' %}
        <h3>Register</h3>
        <input type="text" class="box" placeholder="Enter your name">
        <input type="email" class="box" placeholder="Enter your email">
        <input type="password" class="box" placeholder="Enter your password">
        <input type="submit" value="Register now" class="btn btn-primary">
        <input type="checkbox" id="agree">
        <label for="agree">I agree to the terms and conditions</label>
        <p>Already have an account? <a href="#">Login now</a></p>
        <p>Or register with:</p>
        <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-primary mr-2"><i class="fab fa-google"></i> Login with Google</a>
            <a href="#" class="btn btn-primary"><i class="fab fa-facebook"></i> Login with Facebook</a>
        </div>
    </form>
</div>

