{% extends 'navigation.html' %}

{% load static %}

{% block register %}

    <!-- Register form -->
    
    <section class="book" style="margin-top: 50px"  id="book">
      {% include 'messages.html' %}

      <div class="row">
        <div class="img">
          <img decoding="async" src=" {% static 'img/signup.svg' %} " alt="" />
        </div>

        <div class="login-form-container form">
          <form action="" method="POST">
            {% csrf_token %}
            <div class="inputBox">
              <h3>Enter username</h3>
              <input
                type="text"
                name="username"
                id="username"
                placeholder="username"
              />
            </div>
            <div class="inputBox">
              <h3>Enter email</h3>
              <input
                type="email"
                name="email"
                id="email"
                placeholder="your email"
              />
            </div>

            <div class="inputBox">
              <h3>Enter password</h3>
              <input
                type="password"
                name="password1"
                id="password"
                placeholder="password"
              />
            </div>
            <div class="inputBox">
              <h3>Confirm password</h3>
              <input
                type="password"
                name="password2"
                id="password"
                placeholder="password"
              />
            </div>

            <input type="submit" class="btn" value="Register" />

            <input type="checkbox" id="remember" />
            <label for="remember">Remember me</label>
            <p>forget password? <a href="#">click here</a></p>
            <p>
              Already have an account?
              <a href="{% url 'login' %}" id="signin_toggle">signIn</a>
            </p>
          </form>
        </div>
      </div>
    </section>

    
    {% endblock register %}